<%= render "layouts/wizard_nav" %>

<div class="battery-wizard">

  <div class="row">
    <div class="col col-2">
      <div class="">
        <p></p>
      </div>
    </div>
    <%#= form_tag battery_index_path, class: "col col-2 sans-serif" do %>
    <%= render "solar_systems/form" %>

    <div class="col col-6 mx2 documentation">
      <div class="section">
        <span class="button h4">DC Capacity <i class="arrow down relative right"></i></span>
        <p class="section-text h6">
          DC System Capacity is the approximate hourly output of a solar array.
          The bigger the capacity the more energy is produced. The default number
          has been calculated from your consumption history.
        </p>
      </div>

      <div class="section">
        <span class="button h4">Types of Solar Modules <i class="arrow down relative right"></i></span>
          <table class="data-table section-text" >
            <caption class="h6">There are three main types of solar modules. They have different traits:</caption>

            <th>Type</th>
            <th>Approximate Efficiency</th>
            <th>Module Cover</th>
            <tr>
              <td>Standard (crystalline Silicon)</td>
              <td>15%</td>
              <td>Glass</td>
            </tr>
            <tr>
              <td>Premium (crystalline Silicon)</td>
              <td>19%</td>
              <td>Anti-reflective</td>
            </tr>
            <tr>
              <td>Thin film	</td>
              <td>10%	</td>
              <td>Glass</td>
            </tr>
          </table>
      </div>

      <div class="section">
        <span class="button h4">System Losses <i class="arrow down relative right"></i></span>
        <p class="section-text h6">
          These are the electrical losses in the system. If you're needing to edit
          these then I'd recommend estimating production with <a href="http://pvwatts.nrel.gov/">PV Watts</a>.
        </p>
      </div>

      <div class="section">
        <span class="button h4">Types of Solar Arrays <i class="arrow down relative right"></i></span>
        <p class="section-text h6">
          The array type describes whether the PV modules in the array are fixed,
          or whether they move to track the movement of the sun across the sky
          with one or two axes of rotation. The default value is a fixed, or no
          tracking. Use the following diagrams to choose the appropriate option
          for your system:
          <%= image_tag "tracking.png", width: "100%" %>
        </p>
      </div>

      <div class="section">
        <span class="button h4">Pannel Tilt <i class="arrow down relative right"></i></span>
        <p class="section-text h6">
          The angle tilt from horizontal. Default from NREL is 30.
          <br><%= image_tag "array_tilt.jpg" %>
        </p>
      </div>

      <div class="section">
        <span class="button h4">Azimuth Angle <i class="arrow down relative right"></i></span>
        <p class="section-text h6">
          Direction solar panels are facing:
          <br><%= image_tag "azimuth.jpg" %>
        </p>
      </div>
    </div>
    <div class="col col-2">
      <div class="">
        <p></p>
      </div>
    </div>
  </div>


</div>
