<div class="wizard-form col col-2 blue-gradient">
  <%= form_for @installation, class: "mx-auto sans-serif" do |f| %>
    <%= f.label "zipcode" %>
    <%= f.text_field :zipcode, maxlength: 5 %>

    <% if action_name == "new" %>
      <%= f.submit "Next Step", class: "brown-btn calculate" %>
    <% else %>
      <%= f.submit "Update", class: "brown-btn calculate" %>
    <% end %>
  <% end %>
</div>
