<%= render "layouts/wizard_nav" %>

<div class="row">
  <div class="col col-2">
    <p></p>
  </div>
  <div class="col col-8">
    <div class="row">
      <div class="col col-4">
        <span class="h4">Solar System Summary</span>
        <p class="h6 sans-serif">
          Solar System Capacity: <span class="h5 italic"><%= @presenter.solar_system.capacity %> kW</span><br>
          Battery Capacity: <span class="h5 italic"><%= @presenter.battery.capacity %> kWh</span><br>
          Azimuth Angle: <span class="h5 italic"><%= @presenter.solar_system.azimuth %></span><br>
          Panel Tilt: <span class="h5 italic"><%= @presenter.solar_system.tilt %></span><br>
          Array Type: <span class="h5 italic"><%= @presenter.solar_system.array_type %></span><br>
          Module Type: <span class="h5 italic"><%= @presenter.solar_system.module_type %></span><br>
          Losses: <span class="h5 italic"><%= @presenter.solar_system.losses %></span>
        </p>
      </div>
      <div class="col col-5">
        <span class="h4">Location Summary</span>
        <p class="h6 sans-serif">
          Installation Zipcode: <span class="h5 italic"><%= @presenter.installation.zipcode %> </span><br>
          Weather Station: <span class="h5 italic"><%= @presenter.production.station %> </span><br>
          Station City: <span class="h5 italic"><%= @presenter.production.station_city %> </span><br>
          Station State: <span class="h5 italic"><%= @presenter.production.station_state %> </span><br>
          Average Utility Rate: <span class="h5 italic"><%= number_to_currency @presenter.utility_rate.residential %></span>
        </p>
      </div>
      <div class="col col-3">
        <span class="h4">Carbon Offset</span>
        <p class="h5 italic"><%= @presenter.production.carbon_offset.round(2) %> Tons</p>
        <span class="h4">Electricity Value</span>
        <p class="h5 italic"><%=  number_to_currency(@presenter.production.total_production * @presenter.utility_rate.residential) %></p>
      </div>
    </div>
    <div class="row">
      <div class="col col-12">
        <div class="row">
          <div class="col col-6">
            <%= line_chart [
              {name: "Total Produced", data: @presenter.production.production_on_summer_solstice},
              {name: "Total Consumed", data: @presenter.consumption.consumption_on_summer_solstice},
              {name: "Battery Charge", data: @presenter.battery.net_on_summer_solstice}
              ], xtitle: "Hour", ytitle: "Energy (kWh)", title: "Summer Solstice", height: "400px" %>
          </div>
          <div class="col col-6">
            <%= line_chart [
              {name: "Total Produced", data: @presenter.production.production_on_winter_solstice},
              {name: "Total Consumed", data: @presenter.consumption.consumption_on_winter_solstice},
              {name: "Battery Charge", data: @presenter.battery.net_on_winter_solstice}
              ], xtitle: "Hour", ytitle: "Energy (kWh)", title: "Winter Solstice", height: "400px" %>
          </div>
        </div>
        <div class="row">
          <div class="col col-6">
            <%= line_chart [
              {name: "Total Produced", data: @presenter.production.production_on_spring_equinox},
              {name: "Total Consumed", data: @presenter.consumption.consumption_on_spring_equinox},
              {name: "Battery Charge", data: @presenter.battery.net_on_spring_equinox}
              ], xtitle: "Hour", ytitle: "Energy (kWh)", title: "Spring Equinox", height: "400px" %>
          </div>
          <div class="col col-6">
            <%= line_chart [
              {name: "Total Produced", data: @presenter.production.production_on_fall_equinox},
              {name: "Total Consumed", data: @presenter.consumption.consumption_on_fall_equinox},
              {name: "Battery Charge", data: @presenter.battery.net_on_fall_equinox}
              ], xtitle: "Hour", ytitle: "Energy (kWh)", title: "Fall Equinox", height: "400px" %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-12">
        <%= line_chart [
          {name: "Monthly Produced", data: @presenter.production.graph_monthly_production},
          {name: "Monthly Consumed", data: @presenter.consumption.graph_monthly_consumption}
          ], xtitle: "Hour", ytitle: "Energy (kWh)", title: "Monthly Energy", height: "400px" %>
      </div>
    </div>
  </div>
</div>
