<table class="data-table">

  <th>Month</th>
  <td>Jan</td>
  <td>Feb</td>
  <td>March</td>
  <td>April</td>
  <td>May</td>
  <td>June</td>
  <td>July</td>
  <td>Aug</td>
  <td>Sept</td>
  <td>Oct</td>
  <td>Nov</td>
  <td>Dec</td>
  <tr>
    <th>Electricity Used (kWh)</th>
    <td><%= number_field_tag "month[1]", 0, min: 0%></td>
    <td><%= number_field_tag "month[2]", 0, min: 0%></td>
    <td><%= number_field_tag "month[3]", 0, min: 0%></td>
    <td><%= number_field_tag "month[4]", 0, min: 0%></td>
    <td><%= number_field_tag "month[5]", 0, min: 0%></td>
    <td><%= number_field_tag "month[6]", 0, min: 0%></td>
    <td><%= number_field_tag "month[7]", 0, min: 0%></td>
    <td><%= number_field_tag "month[8]", 0, min: 0%></td>
    <td><%= number_field_tag "month[9]", 0, min: 0%></td>
    <td><%= number_field_tag "month[10]", 0, min: 0%></td>
    <td><%= number_field_tag "month[11]", 0, min: 0%></td>
    <td><%= number_field_tag "month[12]", 0, min: 0%></td>
  </tr>
</table>

<span class="brown-btn h4 to-step-3" tabindex="0">Step 3</span>
