<div class="top-nav table">
  <ul>
    <li class="active" id="nav-location">Location <%= image_tag "256_location.png" %></li>
    <li id="nav-consumption">Consumption <%= image_tag "256_ecology-lightbulb.png" %></li>
    <li id="nav-system">Solar System <%= image_tag "256_solar-panel.png" %></li>
    <li id="nav-summary">System Summary <%= image_tag "256_piggy-bank.png" %></li>
  </ul>
</div>
<div class="battery-wizard">
  <div class="part-1">
    <%= render "battery/location" %>
  </div>

  <div class="part-2">
    <%= render "battery/consumption" %>
  </div>

  <div class="part-3">
    <%= render "battery/system" %>
  </div>

</div>
