<div class="top-nav table">
  <ul>
    <li class="active"><a href="/battery_wizard/installation/new">Location <%= image_tag "256_location.png" %></a> </li>
    <li><a href="/battery_wizard/consumption">Consumption <%= image_tag "256_ecology-lightbulb.png" %></a></li>
    <li><a href="/battery_wizard/system">Solar System <%= image_tag "256_solar-panel.png" %></a></li>
    <li><a href="/battery_wizard/summary">System Summary <%= image_tag "256_piggy-bank.png" %></a></li>
  </ul>
</div>

<div class="row">
  <div class="col col-2">
    <p></p>
  </div>
  <div class="col col-2 blue-gradient">
    <%= form_for @installation, url: battery_wizard_installation_index_path, class: "mx-auto sans-serif" do |f| %>
      <%= f.label "zipcode" %>
      <%= f.text_field "zipcode", maxlength: 5 %>

      <%= f.submit "Begin", class: "brown-btn" %>
    <% end %>
  </div>
  <div class="col col-6 mx2 documentation">
    <div class="section">
      <button class="button h4">Why We Do It <i class="arrow down relative right"></i></button>
      <div class="section-text">
        <p class="h3">Duck Curve</p>
        <p class="h6">Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next 10.</p>
      </div>
    </div>

    <div class="section">
      <button class="button h4">What We Calculate <i class="arrow down relative right"></i></button>
      <p class="section-text h6">Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next 10.</p>
    </div>

    <div class="section">
      <button class="button h4">Data Sources <i class="arrow down relative right"></i></button>
      <p class="section-text h6">Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next 10.</p>
    </div>
  </div>
</div>
