<%= form_tag do %>

<% @categories.each do |category| %>
<div class="section">
  <span class="button h4" tabindex="0"><%= category.title.capitalize %> <i class="arrow down relative right"></i></span>
  <table class="section-text data-table">
    <th>Appliance</th>
    <th>Quantity</th>
    <th>Average Monthly kWh</th>
    <th>Household kWh</th>
    <% category.appliances.each do |appliance| %>
    <tr>
      <td><%= appliance.name %></td>
      <td><%= number_field_tag "Appliance-#{appliance.id}", 0, min: 0%></td>
      <td><%= appliance.avg_monthly_kwh %></td>
      <td>0 kWh</td>
    </tr>
    <% end %>
  </table>
</div>
<% end %>
<%= submit_tag "Next", class: "brown-btn" %>
<% end %>
