<%= form_tag do %>
<table class="data-table">

  <th>Month</th>
  <td>Jan</td>
  <td>Feb</td>
  <td>March</td>
  <td>April</td>
  <td>May</td>
  <td>June</td>
  <td>July</td>
  <td>Aug</td>
  <td>Sept</td>
  <td>Oct</td>
  <td>Nov</td>
  <td>Dec</td>
  <tr>
    <th>Electricity Used (kWh)</th>
    <td><%= number_field_tag "january", 0, min: 0%></td>
    <td><%= number_field_tag "february", 0, min: 0%></td>
    <td><%= number_field_tag "march", 0, min: 0%></td>
    <td><%= number_field_tag "april", 0, min: 0%></td>
    <td><%= number_field_tag "may", 0, min: 0%></td>
    <td><%= number_field_tag "june", 0, min: 0%></td>
    <td><%= number_field_tag "july", 0, min: 0%></td>
    <td><%= number_field_tag "august", 0, min: 0%></td>
    <td><%= number_field_tag "september", 0, min: 0%></td>
    <td><%= number_field_tag "october", 0, min: 0%></td>
    <td><%= number_field_tag "november", 0, min: 0%></td>
    <td><%= number_field_tag "december", 0, min: 0%></td>
  </tr>
</table>

<%= submit_tag "Next", class: "brown-btn" %>
<% end %>
