<div class="col col-2 px2">
  <ul>

  </ul>
</div>

<%= form_tag estimate_path, class: "col col-2" do %>
  <%= label_tag "capacity (kW)" %>
  <%= number_field_tag "capacity", "5"  %>

  <%= label_tag "module_type" %>
  <%= select_tag "module_type", "<option>0</option>".html_safe %>

  <%= label_tag "losses (%)" %>
  <%= number_field_tag "losses", "14", in: -5..99 %>

  <%= label_tag "array_type" %>
  <%= select_tag "array_type", "<option>0</option>".html_safe %>

  <%= label_tag "tilt" %>
  <%= number_field_tag "tilt", "30", in: 0..90 %>

  <%= label_tag "azimuth" %>
  <%= number_field_tag "azimuth", "180", in: 0..360 %>

  <%= label_tag "latitude" %>
  <%= text_field_tag "lat" %>

  <%= label_tag "longitude" %>
  <%= text_field_tag "lon" %>

  <%= submit_tag "Submit", class: "green-btn" %>
<% end %>

<div class="col col-6 mx2 px2 documentation">
  <button class="reset section h4">Capacity <i class="arrow down relative right"></i></button>
  <p class="section-text h6">Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next 10.</p>

  <button class="reset section h4">Types of Solar Modules <i class="arrow down relative right"></i></button>
  <p class="section-text h6">There can be no thought of finishing for ‘aiming for the stars.’ Both figuratively and literally, it is a task to occupy the generations. And no matter how much progress one makes, there is always the thrill of just beginning.</p>

  <button class="reset section h4">System Losses <i class="arrow down relative right"></i></button>
  <p class="section-text h6">We want to explore. We’re curious people. Look back over history, people have put their lives at stake to go out and explore … We believe in what we’re doing. Now it’s time to go.</p>

  <button class="reset section h4">Types of Solar Arrays <i class="arrow down relative right"></i></button>
  <p class="section-text h6">Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next 10.</p>

  <button class="reset section h4">Pannel Tilt <i class="arrow down relative right"></i></button>
  <p class="section-text h6">Buy why, some say, the moon? Why choose this as our goal? And they may as well ask why climb the highest mountain?</p>

  <button class="reset section h4">Azimuth Angle <i class="arrow down relative right"></i></button>
  <p class="section-text h6">There can be no thought of finishing for ‘aiming for the stars.’ Both figuratively and literally, it is a task to occupy the generations. And no matter how much progress one makes, there is always the thrill of just beginning.</p>

  <button class="reset section h4">Latitude <i class="arrow down relative right"></i></button>
  <p class="section-text h6">Astronomy compels the soul to look upward, and leads us from this world to another.</p>

  <button class="reset section h4">Longitude <i class="arrow down relative right"></i></button>
  <p class="section-text h6">Spaceflights cannot be stopped. This is not the work of any one man or even a group of men. It is a historical process which mankind is carrying out in accordance with the natural laws of human development.</p>
</div>
