<%= form_for @consumption do |f|%>
<table class="data-table">
  <th>Month</th>
  <td>Jan</td>
  <td>Feb</td>
  <td>March</td>
  <td>April</td>
  <td>May</td>
  <td>June</td>
  <td>July</td>
  <td>Aug</td>
  <td>Sept</td>
  <td>Oct</td>
  <td>Nov</td>
  <td>Dec</td>
  <tr>
    <th>Electricity Used (kWh)</th>
    <td><%= f.number_field "jan", value: 600, min: 0, :required => true %></td>
    <td><%= f.number_field "feb", value: 600, min: 0, :required => true %></td>
    <td><%= f.number_field "mar", value: 600, min: 0, :required => true %></td>
    <td><%= f.number_field "apr", value: 300, min: 0, :required => true %></td>
    <td><%= f.number_field "may", value: 300, min: 0, :required => true %></td>
    <td><%= f.number_field "jun", value: 300, min: 0, :required => true %></td>
    <td><%= f.number_field "jul", value: 750, min: 0, :required => true %></td>
    <td><%= f.number_field "aug", value: 750, min: 0, :required => true %></td>
    <td><%= f.number_field "sep", value: 750, min: 0, :required => true %></td>
    <td><%= f.number_field "oct", value: 300, min: 0, :required => true %></td>
    <td><%= f.number_field "nov", value: 300, min: 0, :required => true %></td>
    <td><%= f.number_field "dec", value: 300, min: 0, :required => true %></td>
  </tr>
</table>
  <% if action_name == "new" %>
  <%= f.submit "Next Step", class: "brown-btn calculate" %>
  <% else %>
  <%= f.submit "Update", class: "brown-btn calculate" %>
  <% end %>
<% end %>
