<header>
  <div class="title">
    <a href="/">
    <%= image_tag "64_solar-panel.png" %>
    <span class="h1">Solbat</span>
    </a>
  </div>
  <div class="links">
    <%= link_to "Home", root_path %>
    <% if current_user %>
    <%= link_to "My Installations", installations_path %>
    <%= link_to "Edit Account", edit_user_registration_path %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
    <%= link_to "Sign Up", new_user_registration_path %>
    <%= link_to "Login", new_user_session_path %>
    <% end %>
  </div>
</header>
